.nextEventCard {
  padding-inline: 1.6rem;
  padding-block: 1.2rem;
  border: 1px solid var(--gray-100);
  border-radius: 0.6rem;
  margin-bottom: 1rem;
}

.highlight {
  box-shadow: var(--green-500) 0px 8px 24px;
}

.nextEventCard h3 {
  word-wrap: break-word;
  margin: 0;
  margin-bottom: 0.4;
  font-size: 1.6rem;
  font-weight: 700;
}

.nextEventCard h4 {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0;
  color: var(--gray-200);
  margin-bottom: 1.6rem;
}

.nextEventCard span {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--green-500);
}

.nextEventCard button {
  border: 1px solid var(--red-500);
  padding: 0.8rem;
  outline: none;
  border: none;
  margin-top: 1.6rem;
  cursor: pointer;
  font-size: 1.6rem;
  color: var(--red-500);
  font-weight: 700;
}